<div id="<%= dom_id movimentacao %>"
     class="p-6 rounded-lg shadow-lg bg-white flex <%= movimentacao.saida? ? 'text-red-700' : 'text-green-700' %>">
  <span class="mr-2">
    <%= l movimentacao.data %>
  </span>
  <span class="mr-2 flex-grow">
    <%= movimentacao.descricao %>
  </span>
  <span>
    <%= number_to_currency movimentacao.valor %>
  </span>
</div>
